# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db